<link rel="stylesheet" type="text/css" href="login.css">
<body>
  <div class="login">
  <h1>Login</h1>
    <form method="post">
      <input type="text" name="u" placeholder="Username" required="required" ng-model="login"/>
        <input type="password" name="p" placeholder="Password" required="required" ng-model="senha"/>
        <button type="submit" class="btn btn-primary btn-block btn-large" ng-click="ctrl.logar($event, login, senha)">Logar.</button>
        <button type="submit" class="btn btn-success btn-block btn-large" ng-click="ctrl.criarConta($event, login, senha)">Registrar.</button>
    </form>
</div>
</body>
